{% extends "customer/customer_layout.html" %}
{% block content %}

<section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><b>E-mail</b></h3>

            </div>
                    <div class="box box-widget">

            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <div class="row">
                <div class="col-lg-8">

                </div>
                <div class="col-lg-4">
            </div>
              </div>

 </div>

          </div>
          </div>
          <div class="box box-primary">
            <div class="box-header with-border">
<h3 class="box-title"><b>Personal Details</b></h3>
<button type="submit" class="btn btn-primary btn-sm pull-right"><b>Edit</b></button>
            </div>
                    <div class="box box-widget">

            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
                <span class="box-title"><b style="font-size:18px;">Name</b></span><br><br>
                <div style="width: 100%; height:0.5px; background-color:#d1d1d1;"></div>
                <span class="box-title"><b style="font-size:18px;">Mobile Number</b></span><br><br>
                <div style="width: 100%; height:1px; background-color:#d1d1d1;"></div>
                <span class="box-title"><b style="font-size:18px;">Address</b></span><br><br>
                <div style="width: 100%; height:1px; background-color:#d1d1d1;"></div>
                <span class="box-title"><b style="font-size:18px;">Password</b></span><br><br>
                <div style="width: 100%; height:1px; background-color:#d1d1d1;"></div>
              </div>

 </div>

          </div>
      </section>
          </div>
      </section>
  </div>
{% endblock content %}