{% extends "customer/customer_layout.html" %}
{% block content %}

<section class="content-header">

      <h1 style="margin-left:20px;">
        Request Distributor

      </h1>
    <!-- Info boxes -->

    <!-- Main content -->

    <section class="content">
        {% if customer %}
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><b>Request waiting for your approval</b></h3>

<div style="width: 100%; height:0.5px; background-color:#d1d1d1;"></div>

            </div>



                    <div class="box box-widget">
{% endif %}
                        {% for i in customer %}
                        {% if i['leader_id']==session['id'] %}
            <!-- /.box-header --
            <!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <div class="row">
                <div class="col-lg-8">
              <span class="info-box-text"><b>{{i['username']}} - {{i['user_id']}}</b></span>
              <span class="info-box-text" style="text-transform:lowercase;text-decoration:none !important">{{i['mobile']}}</span>
                    <span class="info-box-text" style="text-transform:lowercase">{{i['email']}}</span>
                </div>
                <div class="col-lg-4">
                    <form method="post" action="/leader_accept">
                        <input type="hidden" name="user_id" value="{{i['user_id']}}">
            <button type="submit" class="btn btn-sm pull-right" style="background-color:#3c8dbc; color:white;"><b>Accept</b></button>
                        </form>
            </div><br>


                <div style="width: 100%; height:1px; background-color:#d1d1d1;"></div>

 </div>

          </div>






{% endif %}
            {%endfor%}





            <!--<div class="box-body chart-responsive">-->
              <!--<div class="chart" id="revenue-chart" style="height: 300px;">-->
                <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
          <!--<div class="box">-->
            <!--<div class="box-header">-->
            <!--</div>-->
            <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
            <!--<div class="info-box" style="width:40rem; background-color:#000000;border-radius:15px;padding:10px">-->


            <!--<div class="info-box-content">-->
              <!--<span class="info-box-text"><b>Customer ID</b></span>-->
              <!--<span class="info-box-text">Leader</span>-->
              <!--<button type="button" class="btn btn-sm pull-right" style="background-color:#3c8dbc; color:white;"><b>Approved</b></button>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
            <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.box &ndash;&gt;-->
        <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!-- /.box-body -->
          </div>
    </section>
    <!-- /.content -->
    </section>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.13
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
    reserved.
  </footer>
{% endblock content %}